NODE_ENV=test
WEB_PORTAL_BASE_URL=http://127.0.0.1:3300
WEB_PORTAL_LEGACY_ADMIN_URL=http://127.0.0.1:3200/admin
WEB_PORTAL_SECURE_COOKIE=false
WEB_PORTAL_PLAYER_OPEN_ACCESS=true
WEB_PORTAL_DISCORD_CLIENT_ID=123456789012345678
WEB_PORTAL_DISCORD_CLIENT_SECRET=test_portal_client_secret
