NODE_ENV=development
DATABASE_URL="file:./prisma/dev.db"
PERSIST_REQUIRE_DB=false
PERSIST_LEGACY_SNAPSHOTS=true
ADMIN_WEB_SECURE_COOKIE=false
ADMIN_WEB_HSTS_ENABLED=false
ADMIN_WEB_SSO_DISCORD_ENABLED=false
ADMIN_WEB_2FA_ENABLED=false
